.title {
  font-size: 72px;
}

.img-background {
  background-image: url('/assets/images/AdobeStock_312074642.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.nav-bg {
  background: transparent linear-gradient(90deg, #ffffff00 0%, #ffffff66 20%,#ffffff 100%) 0% 0% no-repeat padding-box;
}

.video-btn {
  content: url('/assets/images/movie-svgrepo-com.svg');
}
.registered-btn {
  content: url('/assets/images/pencil-revision-svgrepo-com.svg');
}
.language-btn {
  content: url('/assets/images/setting-svgrepo-com.svg');
}

.widget-carousel-arrowleft {
  background-image:url("/assets/images/chevron-left-svgrepo-com.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.widget-carousel-arrowright {
  background-image:url("/assets/images/chevron-right-svgrepo-com.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chen_2_bg {
  background-image: url('/assets/images/chen/chen_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.three_tree {
  background-image: url('/assets/images/img_home_ecoplus.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.explores-slide {
  white-space: nowrap;
  font-size: 0;
	white-space: normal;
	vertical-align: top;
}

.recommend-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

